.pre-body {
    color: green;
    padding: 15px;
}

div#pre-robots .pre-beep.pre-boop {
    text-align: center;
}

#pre-a.pre-b > .pre-bling.pre-blong {
    margin: auto;
}

.modal-body {
    padding: 0;
}
